/*css variables*/
:root{
    --color-background: rgb(92, 68, 76);
    --color-gradient: gradient(180deg, rgb(225, 199, 207) 0%, rgb(159, 124, 136) 100%);
    --universal-font: 'pixel';
    --font-color: rgb(33, 33, 33);
    --box-color: rgb(28, 28, 28) ;
    --highlight-color: rgb(219, 54, 109);
    
    
}
@font-face {
    font-family: 'pixel';
    src: url(./assets/OldEnglishGothicPixelRegular-ow2Bo.ttf) format(truetype);  
}
html{
height: 100%;
background: var(--color-background);
background: var(--color-gradient);
color: var(--font-color);
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'pixel';
}
h1{
    font-size: xx-large;
    max-width: 30ch;
    color: var(--highlight-color);
    
}
.choices img, form > img{
    height: auto;
    width: auto;
    max-width: 10ch;
    max-height: 10ch;
}

.-game-mode:hover,li:hover, form > img:hover{
    filter: invert();

}

.game-board{
    width: auto;
    align-self: center;
    text-align: center;
    
}
.-sidebar{
    font-size: x-large;
 
}
.-choice-field{
    display: flex;
    justify-content: space-evenly;
}
.-hidden{
    display: none;
}
.game-select{
    width: auto;
}

.-game-mode{
    background-color: var(--box-color);
    border-radius: 10px;
    height: auto;
    padding: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(224, 224, 224);
}
.-game-mode:hover{
    background-color:grey;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--highlight-color);
}